@model Recipient

@{
    ViewData["Title"] = "Edit Recipient";
}

<div class="NarrowPage">
    <form method="post">
        <input type="hidden" asp-for="Id" />
        <div class="HighlightHeader">Add / Amend Recipient Details</div>
        <div class="Indent"> 
            <table class="Grid">
                <tr>
                    <td width="100px"><label>First Name</label></td>
                    <td width="300px"><input asp-for="FirstName" MaxLength="50" /><span asp-validation-for="FirstName"></span></td>
                </tr>
                <tr>
                    <td><label>Last Name</label></td>
                    <td><input asp-for="LastName" MaxLength="50" /><span asp-validation-for="LastName"></span></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input asp-for="Email" MaxLength="100" /><span asp-validation-for="Email"></span></td>
                </tr>
                <tr>
                    <td><label>Job Title</label></td>
                    <td><input asp-for="JobTitle" MaxLength="50" /><span asp-validation-for="JobTitle"></span></td>
                </tr>
                <tr>
                    <td><label>Address</label></td>
                    <td><input asp-for="AddressLine1" MaxLength="50" /><span asp-validation-for="AddressLine1"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input asp-for="AddressLine2" MaxLength="50" /><span asp-validation-for="AddressLine2"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input asp-for="AddressLine3" MaxLength="50" /><span asp-validation-for="AddressLine3"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input asp-for="AddressLine4" MaxLength="50" /><span asp-validation-for="AddressLine4"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input asp-for="AddressLine5" MaxLength="50" /><span asp-validation-for="AddressLine5"></span></td>
                </tr>
                <tr>
                    <td><label>Postcode</label></td>
                    <td><input asp-for="PostCode" MaxLength="10" style="WIDTH: 100px" /><span asp-validation-for="PostCode"></span></td>
                </tr>
                <tr>
                    <td style="PADDING-TOP:5px;align-content:right;vertical-align:bottom" colspan="2">
                        <span id="ValidationMessage" class="Label" style="color:red;"></span><br/>
@if (Model.Id == 0)
{                            
                        <button type="submit" id="btnAdd"  class="FormButton" formaction="/Recipient/Create">Add</button>
}
else
{                            
                        <button type="submit" id="btnSave" class="FormButton" formaction="/Recipient/Edit">Save</button>
}                            
						&nbsp;&nbsp;<button type="submit" id="btnCancel" class="FormButton" formaction="/Recipient/Cancel">Cancel</button>                  
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>