@model Recipient

@{
    ViewData["Title"] = "Edit Recipient";
}

<form method="POST">
    <input type="hidden" asp-for="Id" />
    <table class="communitylinks" id="tbAddAmendRecip" cellspacing="0" cellpadding="2" border-width="0">
        <tr>
            <td class="gheaderline" valign="bottom" colspan="2" height="1" rowspan="1"></td>
        </tr>
        <tr>
            <td class="Highlight" height="24">&nbsp;Add / Amend Recipient Details</td>
        </tr>
        <tr>
            <td style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-TOP: 10px" valign="top">
                <table id="Table3" style="WIDTH: 360px" cellspacing="0" cellpadding="1" width="360" border-width="0">
                    <tr>
                        <td class="Label" style="WIDTH: 83px" valign="middle" nowrap="nowrap" width="83">Name</td>
                        <td class="Field" valign="middle">
                            <input asp-for="FirstName" class="Field" MaxLength="65" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="FirstName"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px" valign="middle" nowrap="nowrap" width="83">Name</td>
                        <td class="Field" valign="middle">
                            <input asp-for="LastName" class="Field" MaxLength="65" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="LastName"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px" valign="middle" nowrap="nowrap" width="83">Email</td>
                        <td class="Field" valign="middle">
                            <input asp-for="Email" class="Field" MaxLength="100" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="Email"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px" valign="middle" nowrap="nowrap" width="83">Job Title</td>
                        <td class="Field" valign="middle">
                            <input asp-for="JobTitle" class="Field" MaxLength="100" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="JobTitle"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px; PADDING-TOP: 5px" valign="top" nowrap="nowrap" width="83">Address</td>
                          <td class="Field" valign="middle">
                            <input asp-for="AddressLine1" class="Field" MaxLength="100" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="AddressLine1"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px; PADDING-TOP: 5px" valign="top" nowrap="nowrap" width="83">&nbsp;</td>
                          <td class="Field" valign="middle">
                            <input asp-for="AddressLine2" class="Field" MaxLength="100" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="AddressLine2"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px; PADDING-TOP: 5px" valign="top" nowrap="nowrap" width="83">&nbsp;</td>
                          <td class="Field" valign="middle">
                            <input asp-for="AddressLine3" class="Field" MaxLength="100" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="AddressLine3"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px; PADDING-TOP: 5px" valign="top" nowrap="nowrap" width="83">&nbsp;</td>
                          <td class="Field" valign="middle">
                            <input asp-for="AddressLine4" class="Field" MaxLength="100" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="AddressLine4"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px; PADDING-TOP: 5px" valign="top" nowrap="nowrap" width="83">&nbsp;</td>
                          <td class="Field" valign="middle">
                            <input asp-for="AddressLine5" class="Field" MaxLength="100" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="AddressLine5"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px; PADDING-TOP: 5px" valign="top" nowrap="nowrap" width="83">Postcode</td>
                          <td class="Field" valign="middle">
                            <input asp-for="PostCode" class="Field" MaxLength="100" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="PostCode"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="PADDING-TOP:5px;align-content:right;vertical-align:bottom" colspan="2">
                            <span id="ValidationMessage" class="Label" style="color:red;"></span><br/>
@if (Model.Id == 0)
{                            
                            <button type="submit" id="btnAdd"  class="gFormButton" style="HEIGHT:24px;WIDTH:55px;" formaction="/Recipient/Create">Add</button>
}
else
{                            
                            <button type="submit" id="btnSave" class="gFormButton" style="HEIGHT:24px;WIDTH:55px;" formaction="/Recipient/Edit">Save</button>;
}                            
							&nbsp;&nbsp;<button type="submit" id="btnCancel" class="gFormButton" style="HEIGHT:24px;WIDTH:55px;" formaction="/Recipient/Cancel">Cancel</button>                  
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>