@{  
    ViewData["Title"]        = "Recipient List";
}  

<div class="container">  
    <br />  
    <a asp-controller="Recipient" asp-action="Create" class="gContentSection">Add new recipient</a>
    <div style="width:90%; margin:0 auto;">  
        <table id="recipients" class="compact stripe" width="100%" cellspacing="0">  
            <thead>  
                <tr>  
                    <th>RecipientID</th>  
                    <th>UserName</th>  
                    <th>First Name</th>  
                    <th>Last Name</th>  
                    <th>Email</th>  
                    <th>Edit</th>  
                    <th>Delete</th>  
                </tr>  
            </thead>  
        </table>  
    </div>  
</div>  

@section scripts {

<script>  

        $(document).ready(function ()  
        {  
            table = $("#recipients").DataTable({  
                "processing": true, // for show progress bar  
                "serverSide": true, // for process server side  
                "filter": true, // this is for disable filter (search box)  
                "orderMulti": false, // for disable multiple column at once  
                "ajax": {  
                    "url": "/Recipient/LoadData",  
                    "type": "POST",  
                    "data": { "id" : "12345" },
                    "datatype": "json"  
                },  
                "columnDefs":  
                [{  
                    "targets": [0],  
                    "visible": false,  
                    "searchable": false  
                }],  
                "columns": [  
                    { "data": "recipientID", "name": "RecipientID", "autoWidth": true },  
                    { "data": "userName",    "name": "UserName",    "autoWidth": true },  
                    { "data": "firstName",   "name": "FirstName",   "autoWidth": true },  
                    { "data": "lastName",    "name": "LastName",    "autoWidth": true },  
                    { "data": "email",       "name": "Email",       "autoWidth": true },  
                    {  
                        "render": function (data, type, full, meta)  
                        { return '<a class="btn btn-info" href="/Recipient/Edit/' + full.recipientID + '">Edit</a>'; }  
                    },  
                    {  
                        "render": function (data, type, full, meta)  
                        { if (full.userName != null && full.userName.length > 10) return '&nbsp;';
                          else return '<a href="/Recipient/Delete?pendingId=0&recipientId=' + full.recipientID + '">Delete</a>'; }   
                    }   
                ]  

            });

            table.columns([1, 2, 3, 4]).header().to$().css("text-align", "left"); 
        });  

</script> 
}