@model CirculationViewModel

@{
    ViewData["Title"] = "Edit Circulation";
}

<form method="POST">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="PendingId" />
    <!--<input type="hidden" asp-for="OverSize" />-->
    <table class="communitylinks" id="tbAddAmendRecip" cellspacing="0" cellpadding="2" border-width="0">
        <tr>
            <td class="gheaderline" valign="bottom" colspan="2" height="1" rowspan="1"></td>
        </tr>
        <tr>
            <td class="Highlight" height="24">&nbsp;Add / Amend Recipient Details</td>
        </tr>
        <tr>
            <td style="PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-TOP: 10px" valign="top">
                <table id="Table3" style="WIDTH: 360px" cellspacing="0" cellpadding="1" width="360" border-width="0">
                    <tr>
                        <td class="Label" style="WIDTH: 83px" valign="middle" nowrap="nowrap" width="83">Name</td>
                        <td class="Field" valign="middle">
                            <input asp-for="Name" class="Field" MaxLength="65" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="Name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px" valign="middle" nowrap="nowrap" width="83">Email</td>
                        <td class="Field" valign="middle">
                            <input asp-for="Email" class="Field" MaxLength="100" style="WIDTH: 300px" Wrap="False" />
                            <span asp-validation-for="Email"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="Label" style="WIDTH: 83px; PADDING-TOP: 5px" valign="top" nowrap="nowrap" width="83">Address</td>
                        <td class="Field" style="PADDING-BOTTOM: 5px; PADDING-TOP: 5px" valign="middle">
                            <textarea asp-for="Address" class="Field" MaxLength="300" style="WIDTH: 300px; Height: 80px;" ></textarea>
                            <span asp-validation-for="Address"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="communitylinks" id="Table4" cellspacing="0" cellpadding="2" width="100%" border-width="0">
                                <tr>
                                    <td class="gheaderline" valign="bottom" colspan="2" height="1" rowspan="1"></td>
                                </tr>
                                <tr>
                                    <td class="Highlight" height="24">&nbsp;Distribution Options</td>
                                </tr>
                                <tr>
                                    <td style="PADDING-LEFT: 3px" valign="top">
                                        <table id="Table5" cellspacing="0" cellpadding="1" width="100%" border-width="0">
                                            <tr>
                                                <td class="Label" style="WIDTH: 77px" valign="middle" nowrap="nowrap" width="80"></td>
                                                <td class="Field" valign="middle">
                                                    <input type="radio" asp-for="ToCcBccText" class="Field" value="To"  />To&nbsp;&nbsp;&nbsp;
                                                    <input type="radio" asp-for="ToCcBccText" class="Field" value="CC"  />CC&nbsp;&nbsp;&nbsp;
                                                    <input type="radio" asp-for="ToCcBccText" class="Field" value="BCC" />BCC
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="Label" style="WIDTH: 77px" valign="middle" nowrap="nowrap" width="80">Electronic</td>
                                                <td class="Field" valign="middle">
                                                    <select id="drpAddElecType" asp-for="ElecDeliveryCode" asp-items="Model.ElecDeliveryTypes" class="Field" style="Width:75%;"></select>
                                                    <button ID="btnSummary" class="gFormButton">View</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="Label" style="WIDTH: 77px" valign="middle" nowrap="nowrap" width="80">Paper</td>
                                                <td class="Field" valign="middle">
                                                    <select id="drpAddPaperType" asp-for="PaperDeliveryCode" asp-items="Model.PaperDeliveryTypes" class="Field" style="Width:100%;"></select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <button type="button" id="btnES" class="gFormButton" Width="25px" Text="ES" BorderStyle="Solid" BorderWidth="1px" onclick="setDelivery('ES');" Title="Electronic Summary">ES</button>&nbsp;
                                                    <button type="button" id="btnEF" class="gFormButton" Width="25px" Text="EF" BorderStyle="Solid" BorderWidth="1px" onclick="setDelivery('EF');" Title="Electronic Full"   >EF</button>&nbsp;
                                                    <button type="button" id="btnPS" class="gFormButton" Width="25px" Text="PS" BorderStyle="Solid" BorderWidth="1px" onclick="setDelivery('PS');" Title="Paper Summary"     >PS</button>&nbsp;
                                                    <button type="button" id="btnPF" class="gFormButton" Width="25px" Text="PF" BorderStyle="Solid" BorderWidth="1px" onclick="setDelivery('PF');" Title="Paper Full"        >PF</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="PADDING-TOP:5px;align-content:right;vertical-align:bottom" colspan="2">
                            <span id="ValidationMessage" class="Label" style="color:red;"></span><br/>
@if (Model.Id == 0)
{                            
                            <button type="submit" id="btnAdd"  class="gFormButton" style="HEIGHT:24px;WIDTH:55px;" onclick="return isValidCirculation()" formaction="/Circulation/Create">Add</button>
}
else
{                            
                            <button type="submit" id="btnSave" class="gFormButton" style="HEIGHT:24px;WIDTH:55px;" onclick="return isValidCirculation()" formaction="/Circulation/Edit">Save</button>;
}                            
							&nbsp;&nbsp;<button type="submit" id="btnCancel" class="gFormButton" style="HEIGHT:24px;WIDTH:55px;" formaction="/Circulation/Cancel">Cancel</button>                  
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>