@model CirculationViewModel

@{
    ViewData["Title"] = "Edit Circulation";
    string internalEmailDomain = (string)ViewData["InternalEmailDomain"] ?? "";   
}

<div class="NarrowPage">
    <form method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="PendingId" />
        <input type="hidden" asp-for="Oversize" id="Oversize" />
        <div class="HighlightHeader">Add / Amend Recipient Details</div>
        <div class="Indent"> 
            <table class="Grid">
                <tr>
                    <td width="100px"><label>Name</label></td>
                    <td width="300px"><input asp-for="Name" MaxLength="65" /><span asp-validation-for="Name"></span></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input asp-for="Email" id="Email" MaxLength="100" /><span asp-validation-for="Email"></span></td>
                </tr>
                <tr>
                    <td class="LabelTop"><label>Address</label></td>
                    <td><textarea asp-for="Address" class="TextAreaMedium" MaxLength="300" ></textarea><span asp-validation-for="Address"></span></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="HighlightHeader">Distribution Options</div></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="RadioButtons">
                            <input type="radio" asp-for="ToCcBccText" class="Field" value="To"  />To&nbsp;&nbsp;&nbsp;
                            <input type="radio" asp-for="ToCcBccText" class="Field" value="CC"  />CC&nbsp;&nbsp;&nbsp;
                            <input type="radio" asp-for="ToCcBccText" class="Field" value="BCC" />BCC
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Electronic</label></td>
                    <td>
                        <select id="drpAddElecType" asp-for="ElecDeliveryCode" asp-items="Model.ElecDeliveryTypes"></select>
                        <button type="button" id="btnSummary" class="FormButton" onclick="viewTemplate('@internalEmailDomain');">View</button>
                    </td>
                </tr>
                <tr>
                    <td><label>Paper</label></td>
                    <td><select id="drpAddPaperType" asp-for="PaperDeliveryCode" asp-items="Model.PaperDeliveryTypes"></select></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="FormButtons">
                            <button type="button" id="btnES" class="NarrowButton" Text="ES" onclick="setDelivery('ES');" Title="Electronic Summary">ES</button>&nbsp;
                            <button type="button" id="btnEF" class="NarrowButton" Text="EF" onclick="setDelivery('EF');" Title="Electronic Full"   >EF</button>&nbsp;
                            <button type="button" id="btnPS" class="NarrowButton" Text="PS" onclick="setDelivery('PS');" Title="Paper Summary"     >PS</button>&nbsp;
                            <button type="button" id="btnPF" class="NarrowButton" Text="PF" onclick="setDelivery('PF');" Title="Paper Full"        >PF</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span id="ValidationMessage" style="color:red;"></span><br/>
@if (Model.Id == 0)
{                            
                        <button type="submit" id="btnAdd"  class="FormButton" onclick="return isValidCirculation()" formaction="/Circulation/Create">Add</button>
}
else
{                            
                        <button type="submit" id="btnSave" class="FormButton" onclick="return isValidCirculation()" formaction="/Circulation/Edit">Save</button>
}                            
						&nbsp;&nbsp;<button type="submit" id="btnCancel" class="FormButton" formaction="/Circulation/Cancel">Cancel</button>                  
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>    