.DS_Store
.vscode/**
Data/.DS_Store
Data/.vscode/**
Data/bin/**
Data/lib/**
Data/obj/**
Test/.DS_Store
Test/.vscode/**
Test/bin/**
Test/obj/**
Test/appsettings.json
Web/.DS_Store
Web/.vscode/**
Web/bin/**
Web/Config/appsettings.json
Web/obj/**
Web/appsettings.json
Web/wwwroot/lib/**
.vs
Config/**
