@{
    ViewData["Title"] = "Document Upload";
    string pendingId = (string)ViewData["PendingId"];
}

<div class="MediumPage">
  <div class="HighlightHeader">Upload a Document</div>

  <p class="Label">Press "Browse" to select a file, and then press "Upload".</p>

  <form id="uploadForm" method="post" enctype="multipart/form-data" onsubmit="uploadFiles('files');return false;">
      <input id="Id" type="hidden" value="@pendingId" />

      <label label-for="files" class="custom-file-upload">Browse<input id="files" type="file" name="files" /></label>&nbsp;&nbsp;
      <button type="button" id="btnCancel" class="FormButton" onclick="window.location.href='/Report/Edit/'+$('#Id').val()">Cancel</button>
      <div>&nbsp;</div>
      <span id="file-selected"></span>

      <div>&nbsp;</div>
      <button id="Upload" type="submit" class="FormButton" style="display:none">Upload</button>
      <div>&nbsp;</div>

      <div id="progress" class="progress">
        <div id="bar" class="bar"></div>
        <div id="label" class="label">0%</div>
      </div>

      <div style="margin-top:15px">
          <output form="uploadForm" name="result" id="result"></output>
      </div>
  </form>
</div>

@section Scripts {
  <script>
    "use strict";

    async function AJAXSubmit (oFormElement) {
      const formData = new FormData(oFormElement);

      try {
        const response = await fetch(oFormElement.action, {
          method: 'POST',
          headers: {
            'RequestVerificationToken': getCookie('RequestVerificationToken')
          },
          body: formData
        });

        if (response.status == 201)
        {
          window.location.href='/Report/Edit/@pendingId';
        }
        else
        {
          oFormElement.elements.namedItem("result").value = 'Result: ' + response.status + ' ' + response.statusText;
        }

      } catch (error) {
        console.error('Error:', error);
      }
    }

  function AJAXSubmitOld (oFormElement) {
    oFormElement.elements.namedItem("result").value = "Uploading ...";
    var oReq = new XMLHttpRequest();
    oReq.onload = function(e) { 
      if (this.status == 201)
      {
        window.location.href='/Report/Edit/@pendingId';
      }
      else if (this.status == 413)
      {
         oFormElement.elements.namedItem("result").value = 'The file was too large - nothing uploaded.';
      }
      else if (this.status == 415)
      {
         oFormElement.elements.namedItem("result").value = 'The file was the wrong type - nothing uploaded.';
      }
      else
      {
        oFormElement.elements.namedItem("result").value = 'Return status was ' + this.status.toString() + ' - something may have been uploaded.';
      }
    };
    oReq.open("post", oFormElement.action);
    oReq.setRequestHeader('RequestVerificationToken', getCookie('RequestVerificationToken'));
    oReq.send(new FormData(oFormElement));
  }


/* NEW CODE */

function uploadFiles(inputId) {
    var input = document.getElementById(inputId);
    var files = input.files;
    var formData = new FormData();
  
    for (var i = 0; i != files.length; i++) {
      formData.append("files", files[i]);
    }
  
    $("#result").html("");
    $('#Upload').hide(); 
    $('#btnCancel').hide(); 

    var token = document.getElementsByName("__RequestVerificationToken")[0].value;

    if (typeof(token) == "undefined") {
      $("#result").html("Request Verification Token is missing!");
      return;
    }
    
    var pendingId = $('#Id').val();

    startProgress();

    $.ajax(
      {
        url: "/Document/Upload?pendingId=" + pendingId,
        data: formData,
        processData: false,
        contentType: false,
        type: "POST",
        headers: { 'RequestVerificationToken': token },
        xhr: function () {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener("progress", function (e) {
            if (e.lengthComputable) {
                showProgress(Math.floor(100 * (e.loaded / e.total)));
              }
          }, false);
          return xhr;
        },
        success: function (data) {
          /* showResult("File Uploaded"); */
          window.location.href="/Report/Edit/" + pendingId;
        },
        error: function (xhr, exception) {
          showResult(errorText(xhr.status));
          $('#btnCancel').show(); 
        }
      }
    );
  }
  
  function startProgress() {
    $("#progress").show();
    showProgress(0);
  }

  function showProgress(progress) {
    $("#bar").css({ width: progress + "%" });
    $("#label").html(progress + "%");
    if (progress < 99) $("#result").html("Uploading");
    else               $("#result").html("Saving (be patient, this will take a while!)");  
  }

  function showResult(result) {
    $("#progress").hide();
    $("#result").html(result);
  }

  function getCookieNew(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function errorText(errcode) {
      var msg = '';
      if (errcode == 413) {
          msg = 'The file was too large - nothing uploaded.';
      } else if (errcode == 415) {
          msg = 'The file was the wrong type - nothing uploaded.';
      } else if (errcode == 400) {
          msg = 'Something went wrong in the browser (Bad Request Error 400) - please seek assistance.';
      } else if (errcode == 500) {
          msg = 'Something went wrong at the server end (Internal Server Error 500) - please seek assistance.';    
      } else {
          msg = 'Return status was ' + errcode.toString() + ' - please seek assistance.';
      }
      return msg;
  }



/* END OF NEW CODE */


    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }

  $('#files').bind('change', function() { 
    var fileName = ''; 
    fileName = $(this).val().split('\\').pop().split('/').pop();
    $('#file-selected').html("The file selected was: " + fileName);
    $('#Upload').show(); 
    $("#result").html("");
    }) 
  </script>
}
