@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Contact Support</h3>
<p>
    <strong>Sorry about this. In most cases information about this error will have been logged. Please make a note of what you were 
    doing when this happened, and in particular which report you were processing. Then contact Support in the usual way, who 
    should then be able to resolve the problem fairly quickly.</strong>
</p>
