@{
    ViewData["Title"] = "Not Implemented Yet";
}

<h1 class="text-danger">Not Implemented Yet!</h1>

<h3>Not Implemented</h3>
<p>
    <strong>Sorry! The @ViewData["Feature"] feature has not been built yet.</strong>
</p>
