@{
    ViewData["Title"] = "Create Pending Report";
}
<form method="post" id="CreateReport" onsubmit="return validateNDTNo();">
    <span class="MediumHeader">Add New Report</span>
    <div class="HighlightHeader">Create new report number</div>
    <div class="Indent">
        <table class="Grid">
            <tr>
                <td width="68px"><label>Year:</label></td>
                <td><select id="Year" name="Year"></select></td>
            </tr>
            <tr>
                <td><label>Type:</label></td>
                <td><select id="ReportType" name="ReportType"></select></td>
            </tr>
            <tr>
                <td class="LabelTop"><label>Origin:</label></td>
                <td>
                    <div class="Selector"><select id="Division"   name="Division"   class="Field" onclick="onclickDivision();  "></select></div>
                    <div class="Selector"><select id="Department" name="Department" class="Field" onclick="onclickDepartment();"></select></div>
                    <div class="Selector"><select id="Team"       name="Team"       class="Field" onclick="onclickTeam();      "></select></div>  
                </td>
            </tr>
            <tr>
                <td colspan="2">Report No Preview:<span id="Preview">N/A</span></td>
            </tr>                            
        </table>
        <button id="btnAdd"    class="FormButton" type="submit"                                    >Add</button>&nbsp;&nbsp;
        <button id="btnCancel" class="FormButton" type="button" onclick="window.location.href='/'">Cancel</button>&nbsp;&nbsp;
        <input  id="CheckNDT"  name="CheckNDT" type="checkbox" value="" onclick="onclickCheckNDT();"/>&nbsp;NDT&nbsp;
        <select id="Company"   name="Company"></select>
        <input  id="NDTNo"     name="NDTNo" Width="40px" MaxLength="4" Height="18" />
        <br />
        <br />
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        let orgTree    = [];
        let division   = [];
        let department = [];

        $(document).ready(function () { 
            getStandingData(displayReportCreate, ""); 
            getOrgTree(saveOrgTree, "");
            }); 
    </script>
}